.Header {
    margin: 0;
    padding: 0;
    color: #d4b62f;
    text-align: center;
    font-size: 1.4rem;
}


.Details {
    border: 1px #d4b62f solid;
    border-left: 0px;
    border-right: 0px;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}
.Details p, .Details h5 {
    padding: 0;
    margin: 0;
}
.Details div {
    margin: 0rem 5rem;
    color: #d4b62f;
}
.Details div i {
    margin-right: 10px;
}


.Link {
    text-decoration: none;
    color: #d4b62f;
}
.Link:hover{
    color: #d4b62f;
    text-decoration: none;
}





/* RESPONSIVENESS */
@media only screen and (max-width: 1300px) {
    .Details div {
        margin: 0rem 2rem;
    }
}
@media only screen and (max-width: 1000px) {
    .Details {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .FooterSpace {
        margin-top: 1rem !important;
    }
}
@media only screen and (max-width: 768px) {
    .Header {
        font-size: 1.2rem;
    }
    .Details {
        font-size: 0.9rem;
        margin: 0.5rem 0 1rem 0;
    }
}
@media only screen and (max-width: 576px) {
}