.Header {
    color: #d4b62f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
.Header > * {
    margin: 0 10px;
}

.Header_left {
    display: flex;
    align-items: center;
}
.Logo {
    margin-right: 1rem;
}
.Name {
    margin: 0;
}

.Link {
    text-decoration: none;
    color: #d4b62f;
}
.Link:hover{
    color: #d4b62f;
    text-decoration: none;
}






/* RESPONSIVENESS */
@media only screen and (max-width: 1300px) {
    .Name {
        font-size: 1.4rem;
    }
    .Header a {
        font-size: 0.5rem;
    }
}
@media only screen and (max-width: 768px) {
    .Name {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 576px) {
    .Name {
        font-size: 1rem;
    }
    .Link {
        font-size: 0.9rem;
    }
}